<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanskritapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NineteenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EighteenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SeventeenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SixteenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifteenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FourteenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ThirteenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TwelthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EleventhActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TenthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NinthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EighthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SeventhActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SixthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FourthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ThirdActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FirstActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>